/writable/session/*
/writable/debugbar/*
/writable/logs/*.log
/composer.phar
!/writable/session/.gitkeep
!/writable/debugbar/.gitkeep
!/writable/logs/.gitkeep
.env

# Ignore vendor dependencies and large zip assets
/vendor/
/build/
*.zip
*.rar
*.7z
.phpunit.result.cache
